nav {
  background-color: #f53f12;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  color: white;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-left: 30px;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

a:hover {
  border-bottom: 3px solid white;
}

.logout-btn {
  background-color: white;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #ddd;
}
